<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户登录</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<link rel="stylesheet" href="css/amazeui.min.css">
	<link rel="stylesheet" href="css/app.css">
	<script type="text/javascript">
  	function submit(){
    	var username = $('#userId').val();
    	var password = $('#password').val();
    	var login = { 
  			"username" : username,
  			"password" : password
  		}
    	$.ajax({
    		type: "post",
    		url: "login.do",
    		data: {"data": JSON.stringify(login)},
    		datatype:"json",
    		async:true,
    		success:function( json ){
    			retValue = JSON.parse(json);
    			if(retValue.code == "0") {
    				window.location.href = retValue.url;
    			}else {
    				$('.verify-info').text(retValue.desc);
    			}
    		},
    		error:function( json ){
  	    		$('.verify-info').text("连接服务器失败");
    	}});
    }
  	
  	function regist(){
    	var username = $('#userId').val();
    	var password = $('#password').val();
    	var login = { 
  			"username" : username,
  			"password" : password
  		}
    	$.ajax({
    		type: "post",
    		url: "regist.do",
    		data: {"data": JSON.stringify(login)},
    		datatype:"json",
    		async:true,
    		success:function( json ){
    			retValue = JSON.parse(json);
    			if(retValue.code == "0") {
    				window.location.href = retValue.url;
    			}else {
    				$('.verify-info').text(retValue.desc);
    			}
    		},
    		error:function( json ){
  	    		$('.verify-info').text("连接服务器失败");
    	}});
    }
	</script>
</head>
<body>
<div class="am-g">
	<!-- LOGO -->
	<div class="am-u-sm-12 am-text-center" >
		 <label class="myapp-login-logo">用户登录</label>
	</div>
	<!-- 登陆框 -->
	<div class="am-u-sm-11 am-u-sm-centered">
	<div class="am-u-sm-12 am-text-center">
		<label class="verify-info myapp-login-info"></label>
	</div>
	<div class="am-form">
		<fieldset class="myapp-login-form am-form-set">
			<div class="am-form-group am-form-icon">
				<i class="am-icon-user"></i>
				<input type="text" class="myapp-login-input-text am-form-field" name="username" id="userId" placeholder="请输入您的账号">
			</div>
	    	<div class="am-form-group am-form-icon">
				<i class="am-icon-lock"></i>
				<input class="myapp-login-input-text am-form-field" name="password" type="password" id="password" placeholder="至少6个字符">
			</div>
	  	</fieldset>
	  	<div>
	  		<div style="width:120px;position:absolute;right:55%">
	  			<button type="submit" class="myapp-login-form-submit am-btn am-btn-primary am-btn-block" onclick="submit()">登 陆</button>
	  		</div>
	  		<div style="width:120px;position:absolute;left:55%">
	  			<button type="submit" class="myapp-login-form-submit am-btn am-btn-primary am-btn-block" onclick="regist()">注 册</button>
	  		</div>
		</div>
	</div>
	</div>
	<!-- <div class="am-text-center am-u-sm-11 am-u-sm-centered myapp-login-form-shortcut">
		<hr class="myapp-login-form-hr" />
		<span class="myapp-login-form-hr-font">第三方登陆</span>
	</div>

	<div class="am-u-sm-12 am-text-center myapp-login-form-listico" >
		 <div class="am-u-sm-4 am-text-center" >
		 <i class="am-icon-btn am-primary am-icon-qq"></i>
		 </div>
		 <div class="am-u-sm-4 am-text-center" >
		 <i class="am-icon-btn am-danger am-icon-weibo"></i>
		 </div>
		 <div class="am-u-sm-4 am-text-center" >
		 <i class="am-icon-btn am-success am-icon-weixin"></i>
		 </div>
	</div> -->
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>