<!doctype html>
<html>
<head>
	<meta http-equiv=Expires content=0>
	<meta http-equiv=Pragma content=no-cache>
	<meta http-equiv=Cache-control content=no-cache>
	<meta http-equiv=Cache content=no-cache>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name=format-detection content="telephone=no">
	<title>登录</title>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript">
		
		$(function(){
			$.ajax({
				type: "POST",
				url: "menu.do",
				success: function(jsonMenu){
					retMenu = JSON.parse(jsonMenu);
					//alert(jsonMenu);
					menu_parse();
				}
			});
		});
		function menu_parse(){
			$("div.toolbar").append( "<ul class='menu'>" );
			
			for( var i = 0; i < retMenu.length; ++i ){
				var menuArray = retMenu[i].class;
				for( var j = 0; j < menuArray.length; ++j ){
					$("ul.menu").append("<li class=menu" + i + " style=width:" + 100/retMenu.length + "%>");
					$("li.menu" + i).append("<div class=tooldiv" + i + ">");
					$("div.tooldiv" + i).append("<a href = " + menuArray[j].link_url + ">" + menuArray[j].menu_name + "</a>");
					break;
				}
			}
		}

	</script>
	<style>
		*{ 
			margin:0;
			padding:0;
		}
		.global-body{
			width:100%;
			text-align:center;
			letter-spacing: 20px;
			line-height:80px;
		}
		.toolbar{
			width:100%;
			height:80px;
			background:#fff;
			position:fixed;
			bottom:0;
			left:0;
		}
		.toolbar ul li{
			list-style:none;
			float:left;
			font-size:20px;
		}
		
		.toolbar ul li a{
			text-decoration:none;
			color:#666;
		}
		.toolbar ul li div{
			line-height:80px;
			text-align:center;
		}
	</style>
</head>
<body>
	<div class="global-body">
		<div class="global-bodyc">
			<div id="verify">
				<h3>登录</h3>
				<div class="form">
					<form>
						<div class="curs-m-ipt">
							<div class="curs-u-ipt curs-u-ipt- curs-u-ipt-none">
								<div class="curs-u-label">
									<div class="curs-u-logo">
										<div class="curs-u-logo-img1"></div>
									</div>
								</div>
								<input autocomplete="off" placeholder="手机或邮箱" class="curs-input curs-input-lb"/>
								<div class="curs-u-tip" style="display: none;">
									<div class="curs-u-clear"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		
	<div class="toolbar"></div>
</body>
</html>